@font-face {
    font-family: ;
    src: url() format('truetype');
    font-weight: 700;
    font-style: normal;
}
.body{
    align-items: center;
}
#juego{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    align-items: center;
    background-color: aquamarine;
}
.tablero{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    height: 200px;
    width: 200px;
    gap: 5px; /* Espaciado entre celdas */
    background-color: rgb(229, 52, 52); /* Fondo del tablero */
    background-size: 100% 100%;
    padding: 5px;
    
}

.casilla{
    align-items: center;
    background-color: rgb(250, 246, 246);
    height: 40px;
    width: 40px;
    border: 3px solid;
}
.turnoSiguiente{
    background-color: blue;
}
#resultados{
    max-width: fit-content;
    background-color: blueviolet;
}
@media (min-width: 765px) {
    #juego{
        display: flex;
        flex-direction: row;
    
        background-color: aquamarine;
        margin: 5%;
    }
    #turnos{
        background-color: blue;
        margin-left: auto;
    }
    
    #resultados{
        background-color: blueviolet;
    }
}