@font-face {
    font-family: 'stoke' ;
    src: url(./fonts/DM_Sans\,Dancing_Script\,Stoke/Stoke/Stoke-Regular.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
body{
    font-family: stoke;
    
    height: 100vh;
}
#juego{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: aquamarine;
}
.tablero{
    font-color: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    /* gap: 5px;  Espaciado entre celdas */
    
    
    background: url('./imagenes/tablero.jpg');
    background-size: 100% 100%;
    
    
}

.casilla{
    align-items: center;
    color: white;
    /*background-color: rgb(250, 246, 246);*/
    height: 9vh;
    width: 9vh;
    border: px solid;
}
.turnoSiguiente{
    
}
#resultados{
    max-width: fit-content;
    background-color: blueviolet;
}
@media (min-width: 765px) {
    #juego{
        display: flex;
        flex-direction: row;
    
        background-color: aquamarine;
        margin: 5%;
    }
    #turnos{
        background-color: blue;
        margin-left: auto;
    }
    
    #resultados{
        background-color: blueviolet;
    }
}